# [Core Framework]
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9

# [Google Vertex AI - Gemini LLM]
google-cloud-aiplatform==1.49.0
google-auth==2.29.0

# [Vision AI]
ultralytics==8.1.0
torch>=2.6.0
torchvision>=0.21.0
opencv-python-headless
grad-cam==1.5.0

# [Tabular & ML]
pytorch-tabnet==4.1.0
scikit-learn==1.4.0
pandas==2.2.0
shap==0.44.0

# [RAG]
FlagEmbedding>=1.2.10

# [NLP & RAG Pipeline]
langchain==0.1.12
langgraph==0.0.30
psycopg2-binary==2.9.9
pgvector==0.2.5

# [System & Utils]   docker exec -it medicore-postgres psql -U medicore -d medicoredb
psutil==5.9.8
python-dotenv==1.0.1
