
pip install langgraph langchain-google-genai
pip install fastapi uvicorn python-multipart
pip install llama-parse langchain langchain-google-genai chromadb python-dotenv
pip install psycopg2-binary
pip install google-genai
pip install llama-parse psycopg2-binary
pip install -U langchain langchain-core langchain-google-genai langgraph
pip install --upgrade langgraph langchain-core
pip install torch torchvision timm
